#headerContainer {
  width: 100%;
  height: 44px;
}
#headerContainer .container {
  display: flex;
  align-items: center;
}
#headerContainer .container .logo {
  height: 20px;
  margin-left: 12px;
}
#headerContainer .container .search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ededed;
  color: #666;
  border: 1px solid #ededed;
  margin: 10px 8px;
  border-radius: 4px;
  padding: 4px 8px;
}
#headerContainer .container .login_denglu,
#headerContainer .container .placeholder {
  font-size: 14px;
  padding: 2px 8px;
}
#headerContainer .container .login_denglu .login,
#headerContainer .container .placeholder .login {
  font-size: 12px;
  width: 30px;
  height: 14px;
  line-height: 14px;
  color: #b4282d;
  border: 1px solid #b4282d;
  padding: 2px 2px;
  border-radius: 5px;
  text-align: center;
}
#listContainer {
  width: 100%;
  height: 30px;
  display: flex;
}
#listContainer .item {
  font-size: 14px;
  color: #333;
  margin: 7px 13px;
}
#listContainer .icon-icon_arrow_right {
  position: absolute;
  top: 49px;
  right: 16px;
  font-size: 20px;
  color: #333;
}
#listContainer .item_red {
  color: #f00;
}
#swiper .swiper_pic {
  width: 100%;
  height: 185px;
}
#logistics {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
}
#logistics .logistics_item {
  color: #333;
  margin-right: 16px;
  margin-left: 9px;
}
#logistics .logistics_item .iconfont {
  color: #f00;
}
#logistics .logistics_item span {
  font-size: 12px;
}
#classify {
  width: 100%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
}
#classify .classify_item {
  width: 55px;
  height: 78px;
  margin: 5px 10px;
}
#classify .classify_item img {
  width: 55px;
  height: 55px;
}
#classify .classify_item span {
  font-size: 10px;
  text-align: center;
  margin-left: 7px;
}
#advertising {
  width: 100%;
  height: 63px;
}
#advertising .img {
  width: 100%;
  height: 100%;
}
#footer {
  display: flex;
  width: 100%;
  height: 49px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
}
#footer .footer_item {
  display: flex;
  width: 20%;
  height: 35px;
  flex-direction: column;
  align-items: center;
  margin: 7px;
}
#footer .iconfont {
  font-size: 20px;
}
#footer span {
  font-size: 12px;
  margin: 3px;
}
#footer .footer_item_i {
  color: #f00;
}
#footer .icon-weibiaoti- {
  color: #f00;
}
#bargain {
  width: 100%;
  height: 288px;
  padding: 20px 20px;
  box-sizing: border-box;
}
#bargain .bargain_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#bargain .bargain_list .bargain_item {
  margin: 2px 1px;
  background: #f5f5f5;
  width: 49%;
  height: 132px;
}
#bargain .bargain_list .bargain_item .bargain_big {
  font-size: 16px;
  color: #333;
  margin: 10px 10px;
}
#bargain .bargain_list .bargain_item .bargain_small {
  font-size: 12px;
  color: #7f7f7f;
  margin-top: 7px;
  margin: 10px 10px;
}
#bargain .bargain_list .bargain_item img {
  width: 75px;
  height: 75px;
}
.swiper-container {
  width: 100%;
  height: 185px;
}
